*{
  box-sizing:border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:$color-bg;
  color: $color-coffee;
  overflow-x: hidden;
}

.container{
  max-width: 1340px;
  margin: 0 auto;
}
//.card{
//  border-radius: 6px;
//  box-shadow:2px 2px 2px 0 rgba(#000, 0.1);
//  margin: 50px 0;
//}

