.btn{
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px;
  color: $color-coffee;
  transition: 0.5s;
}
.btn-primary{
  background-color: $color-primary;
}
.btn-primary:hover {
  background-color: $color-logo;
  color: #fff;
  cursor: pointer;
}

.btn-secondary{
  background-color: $color-secondary;
}
.btn-secondary:hover {
  background-color: #fff;
}
