@import "_variables.scss";
@import "_header.scss";
@import "_grid";
@import "_normalize";
@import "_welcome.scss";
@import "_btn.scss";
@import "_base.scss";
@import "_article.scss";
@import "_gallery.scss";
@import "_contact.scss";
@import "_footer.scss";


.mobile-page-nav-list {
  background-color: #fff;
  width: $mobileNavWidth;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 1px 0 3px rgba(0,0,0,0.3), 5px 0 3px rgba(0,0,0,0.1);
  display: none;
}
.mobile-page-nav-list li{
  border-bottom: 1px solid $color-secondary;
}
.mobile-page-nav-list a{
  display: block;
  text-decoration: none;
  padding:20px;
  text-align: center;
  font-weight: bold;
  color: $color-coffee;
  transition: 0.2s;
}
.mobile-page-nav-list a:hover{
  background-color: $color-coffee;
  color: #fff;
}
@media (max-width: 980px){
  .mobile-page-nav-list{
    display: block;
    left: -$mobileNavWidth;
    transition: 0.5s;
  }
  .all{
    transition: 0.5s;
    overflow: hidden;

  }

  .nav-show{
    .mobile-page-nav-list{
      transform: translateX(100%);
    }
   .all{
     transform: translateX(#{$mobileNavWidth});
   }
  }
}